extends  base.pug
block scripts 
    script 
        include ../static/index.js 

block style 
    style 
        include ../static/style.css

block content 
        section#introsection  
            div  Welcome to Sahil Dancing Acedmy  
            div.small Eat Sleep Dance  Repeat  


        section#OurMission
            h2 Our Mission 
            div.card
                h3 Dance Perfection 
                div.card-content
                    div.card-img
                        img(src="/static/img2.png")
                    div.card-thing
                        p This is best dance acedmy i everd seen 
            div.card
                h3  Dance the way you like 
                div.card-content
                    div.card-img
                        img(src="/static/img1.png")
                    div.card-thing
                        p This is best dance acedmy i everd seen 
            div.card
                h3  Expert Teaching 
                div.card-content
                    div.card-img
                        img(src="/static/img3.png")
                    div.card-thing
                        p This is best dance acedmy i everd seen 

        section#introsponser
            h2 Our Sponser
            div#sponser
                img(src="/static/s1.png", alt="Sponser image")
                img(src="/static/s2.png", alt="Sponser image")
                img(src="/static/s3.png", alt="Sponser image")
                img(src="/static/s4.png", alt="Sponser image")