@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#navbar{
    background-color:black;
    height: 55px;
    padding: 12px 12px;
    font-family: 'Lobster', cursive;
}



#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    text-align: center;
}

.logo{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    color: white;
    font-size: 23px;
    margin-right: 245px;
}

.logo img{
    filter: invert(100%);
    width: 43px;
    height: 40px;
}

li{
    list-style: none;
}

#navbar ul li a{
    font-size: 21px;
    text-decoration: none;
    padding: 5px 31px;
    color: white;
}
a:hover{
    color: yellow;
}

#introsection{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    height: 370px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* background: center/cover url(./alexander-popov-9vDdkxSCAD4-unsplash.jpg); */
    background: url(/static/alexander-popov-9vDdkxSCAD4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#introsection div.small{
    font-size: 35px;
    padding-bottom: 45px;
}

#OurMission{
    text-align: center;
    height: 386px;
    max-width: 100%;
    background-color:white;
}

#OurMission h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    padding: 15px;
}

.card{
    background-color: whitesmoke;
    border: 4px solid black;
    border-radius: 40px;
    width: 315px;
    height: 283px;
    margin: 11px 10px;
    display: inline-block;
}

.card h3{
    text-align: center;
    margin: 12px;
}

.card-content{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.card-content div.card-img img{
    width: 154px;
    height: 193px;
}
.card-img img{
    height: inherit;
}

#introsponser{
    text-align: center;
    height: 213px;
    background-color:blanchedalmond;
}

#introsponser h2{
    font-size: 33px;
    font-weight: bold;
    padding: 15px;
}

#sponser{
    height: 20px;

}

#sponser img{
    height: 73px;
    margin: 35px;
}

#introfooter{
    font-family: 'Lobster', cursive;
    color: white;
    display: flex;
    height: 44px;
    justify-content: center;
    background-color: black;
    text-align: center;
    font-size: 29px;
}